header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 60px;
    margin-left: 150px;
    margin-right: 150px;
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        font-weight: bold;
       
        padding: 15px;
        li {
            margin-right: 50px;
            margin-top: 5px;
            list-style: none;
            a {
                text-decoration: none;
                color: map-get($colores,color-titulo);
            }
        }
    }
    .logo-header  {
        height: 50px;
        width: 50px;
        margin-top: 10px;
        margin-right: 350px;
    }
}

